<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <!--WCF配置-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8080/crawlerservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="Lwb.Crawler.Service.CrawlerService">
        <endpoint address="http://127.0.0.1:8080/crawlerservice" binding="wsHttpBinding" bindingConfiguration="NoneSecurity" contract="Lwb.Crawler.Contract.ICrawler"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
